/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: #fff;
    color: #000;
    padding: 50px 20px;
}

header h1 {
    margin: 0;
    text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  border: 1px solid #ddd;
  outline: none;
  color: orange;
  font-family: inherit;
  padding: 0.6rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.2s ease-in;
}

nav button:hover {
  background-color: orange;
  color: #000;
}

nav button:active {
  transform: scale(0.98);
}


.btns {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}

.btn {
  outline: none;
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  font-family: inherit;
  background-color: #ddd;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:active {
  transform: scale(0.98);
}

.btn.active {
  background-color: orange;
  transform: translate(-3px);
}

.btn.active,
 .modal_footer:button.active {
  transform: scale(0.98);
}

nav ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav li a.active {
  color: orange;
}


.container {
    display: flex;
    gap: 50px;
}


/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}