/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background-color: #fff;
    color: #000;
    padding: 50px 20px;
}

h2{
  font-size: 25px;
  text-align: center;
}

h1 {
    text-align: center;
    font-size: 30px;
}

p {
  margin-top: 70px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav li a.active {
  color: orange;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
}